include CHANGES LICENSE
recursive-include shopify_trois.engines *.py
recursive-include shopify_trois.models *.py
recursive-include tests *
recursive-include docs *
recursive-include docs *.pyc
recursive-include docs *.pyo
prune docs/_build
prune docs/_themes/.git

